<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Vue.js Sample</title>
</head>

<body>

<div id="root">
    <p>{{ msg }}</p>
    <div>
        <button style="color: aqua;" @click="lodashStudy">버튼</button>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

<script>
    new Vue({
        el: '#root',
        data: {
            msg: 'Hello Vue.js!',
        },
        methods: {
            lodashStudy() {
                let students = [
                    { name: "홍길동", division: "문과", major: "문학" },
                    { name: '전우치', division: '이과', major: '기계' },
                    { name: '임꺽정', division: '이과', major: '화학' },
                    { name: '일지매', division: '문과', major: '언론' },
                    { name: '장길산', division: '예체능', major: '체조' },
                    { name: '연흥부', division: '이과', major: '컴퓨터' },
                    { name: '연놀부', division: '이과', major: '수학' },
                    { name: '응고집', division: '문과', major: '경영' },
                    { name: '이몽룡', division: '문과', major: '정치' },
                    { name: '연오랑', division: '예체능', major: '사진' }
                ]
                console.log('students', students)

                console.log(
                    _(students)
                        .filter((i) => i.division === '이과') // '이과' 필터
                        .take(3) // 앞에서 3개 takeRight 뒤에서 3개
                        .map((i) => `${i.name}(${i.major})`)
                        .reduce((sum, i) => sum + ' ' + i)
                )

            },
        },
    })
</script>
</body>

</html>